<h2 class="modal-title">Tasks List</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>Assigned to</th>
            <th>Status</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% data.forEach((item, index) => { %>
            <tr>
                <td><%= item.name %></td>
                <td>
                    <% var date = new Date(item.date) %>
                    <%= date.getDate() %>/<%= date.getMonth() %>/<%= date.getFullYear() %>
                </td>
                <td><%= item.description %></td>
                <td><%= item.assignTo %></td>
                <td><%= item.status %></td>
                <td><a href="#" onclick="loadPage('/deleteTask/<%= item._id %>', event)">Delete</a></td>
                <td>
                    <% let statusChange = item.status === "Complete" ? "InProgress" : "Complete" %>
                    <a href="#" onclick="loadPage('/changeStatus/<%= item._id %>/<%= statusChange %>', event)">Change Status</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<div style="margin-top: 1em; text-align: center;">
    <a href="#" onclick="loadPage('/deleteCompleted', event)">Delete all completed tasks</a>
</div>

<div style="margin-top: 1em; text-align: center;">
    <button type="button" class="cancel-btn" onclick="closeModal()">Close</button>
</div>